<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Detalle de Pelicula</title>
</head>

<body>
    <!--HEADER-->
    <%- include('partials/header') %>
        <!-- FIN HEADER -->
        <div class="container_movieDetail">
            <h4>
                <%=movie.title%>
            </h4>
            <ul>
                <li> Duración: <%=movie.length%>
                </li>

                <li> Premios: <%=movie.awards%>
                </li>

                <li> Rating: <%=movie.rating%>
                </li>
                <li> Genero: <%=movie.genre.name%>
                </li>

                <li>
                    Actores:
                    <ul>
                        <% if (movie) { %>
                            <% for (let i=0; i < movie.actors.length; i++) { %>
                                <li>
                                    <%= movie.actors[i].first_name%>
                                        <%= movie.actors[i].last_name%>
                                </li>
                                <% } %>
                                    <% } %>
                    </ul>
                </li>

                <!-- ---------------- -->

            </ul>
        </div>
        <div class="buttonDetail">
            <% if (locals.user) { %>
                <% if (locals._locals.session.auth) { %>   
                    <a href="/movies/movieEdit/<%=movie.id%> ">
                        <button>Modificar</button> </a>

                    <form action="/movies/movieEdit/<%=movie.id%>?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                    <a href="/">Volver</a>
                    <% } %>
                        <% } else { %>
                            <a href="/">Volver</a>
                            <% } %>
        </div>
        </div>
</body>

</html>