<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>cineZeta - Nombre de la Pélicula</title>
            </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->
            <div class="container_movieDetail">
                    <h4><%=movies.title%></h4>
                    <ul>
                        <li>
                            Duración: <%=movies.length%> 
                        </li>

                        <li>
                            Premios: <%=movies.awards%> 
                        </li>
                        
                        <li>
                            Rating: <%=movies.rating%> 
                        </li>
                    
                        <li>
                       
                        Genero: <%=movies.genre.name%> 
                        </li>
                    
                        <li>
                            Actores:
                            <ul>
                                <%  movies.forEach (actors=>{ %>
                                 <li>
                                     <%= movie.actors[i].first_name%> <%= movie.actors[i].last_name%>
                                 </li>
                                 <% }) %>
                             </ul>
                        </li>
                    
                    </ul>
                </div>
                <a href="">
                <button>Modificar</button>
                </a>
            </div>
    </body>

</html>