<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>cineZeta - Editar Pelicula</title>
            </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->
            
            <!--FORMULARIO-->

            <div class="container-form">
                <div> <img class="cuervoBart" src="../img/cuervoIzq.png" alt=""></div>
                <!--REGISTRO-->
                <form class="formulario-registro" action="/movieCreate" method="POST"
                    id="form">
                    <div class="control-form">
                        <label></label>
                        <input type="text" name="title" placeholder="Titulo" id="title" value="<%=movies.title%>">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="awards" class="control" placeholder="Premios" id="awards" value="<%=movies.awards%>">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->

                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="length" class="control" placeholder="Duración" id="length" value="<%=movies.length%>">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="rating" class="control" placeholder="Rating"
                            id="rating" value="<%=movies.rating%>">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="date" name="release_date" class="control" placeholder="Fecha de Estreno"
                            id="release_date">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <select type="text" name="genres" class="control" placeholder="Generos"
                            id="genres">
                            <% if (genres) { %>
                            <% for (let i = 0; i <genres.length; i++) { %>
                                <% if (genres[i].id == movies.genre_id) { %>
                                    <option value="<%=genres[i].id%>" selected> 
                                        <%=genres[i].name%>
                                    </option>
                                    <% } else { %>
                                        <option value="<%=genres[i].id%>"> 
                                            <%=genres[i].name%>
                                        </option>
                                        <% } %> 

                            <% } %>
                            <% } %>
                        </select>

                    <button class="control-button" type="submit"> Modificar </button>

                </form>
                <div> <img class="cuervoBart" src="../img/cuervoDer.png" alt=""></div>
            </div>

    </body>

</html>